# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/

# Virtual environments
venv/
env/
.env/
.venv/
env.bak/
venv.bak/

# Data sets (prevent uploading large raw data files)
*.zip

# Streamlit config/cache
.streamlit/
*.pyc

# IDEs and OS files
.vscode/
.idea/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
